@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-montserrat-sans);
  --color-primary: #4393F1;
  --color-secondary: #162146;
  --color-accent: #F47336;
  --color-dark: #292B3C;
}
