@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}
